<!-- Footer Wrapper -->
<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="6u">

				<!-- Links -->
					<section>
						<h2>Links</h2>
						<ul class="divided">
							<li><a href="/about-us.html">About us</a></li>
							<li><a href="/contact-us.html">Contact us</a></li>
						</ul>
					</section>

			</div>

			<div class="6u">

				<!-- About -->
					<section>
						<h2><strong>RincoLab</strong></h2>
						<p>RincoLab is a small yet strong software consultancy based in Auckland, New Zealand.</p>
						<a href="/about-us.html" class="button alt icon fa-arrow-circle-right">Learn More</a>
					</section>

				<!-- Contact -->
					<section>
						<h2>Get in touch</h2>
						<div>
							<div class="row">
								<div class="6u">
									<dl class="contact">
										<dt>Twitter</dt>
										<dd><a href="#">@untitled-corp</a></dd>
										<dt>Facebook</dt>
										<dd><a href="#">facebook.com/untitled</a></dd>
										<dt>WWW</dt>
										<dd><a href="http://rincolab.com">rincolab.com</a></dd>
										<dt>Email</dt>
										<dd><a href="mailto:info@rincolab.com">info@rincolab.com</a></dd>
									</dl>
								</div>
								<div class="6u">
									<dl class="contact">
										<dt>Address</dt>
										<dd>
											1234 Fictional Rd<br />
											Nashville, TN 00000-0000<br />
											USA
										</dd>
										<dt>Phone</dt>
										<dd>(000) 000-0000</dd>
									</dl>
								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
		<div class="row">
			<div class="12u">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; RincoLab Ltd. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
